/*
#navbar{
    display:block ;
    block-size: auto;
    text-align: right;text-decoration: solid;
}
#gmail,#images{
    padding:20px;
    padding-top: 41px;
    height: 89px;
    font-weight: 400;
    font-size: large;
}
body{
text-align: center;
}
header{
margin: 200px 200px 0px 200px;
<!--> background-image:url(https://yt3.ggpht.com/a/AATXAJxerV2NHlUV4lid7wyDnYecKchSmHw5ffuYoA=s48-c-k-c0xffffffff-no-rj-mo);-->
}
#submit,#button {
margin: 10px 0px 10px 0px;
padding: 3px 8px 3px 8px;
}*/

li{display:inline;}
.navbar{
    
}
#navbar_list{
    
   
    top:0px;
    position: fixed;
    width: 100%;
    vertical-align: center;
    text-align: right;
    margin-right:27px;
    font-size: 13px;
    padding-top:15px;
    
;
}
#gmail, #images, #tools, #account{
    
background-size: 32px 32px;
border-bottom-left-radius: 50%;
border-bottom-right-radius: 50%;
border-top-left-radius: 50%;
border-top-right-radius: 50%;
box-shadow: none;
color: rgb(255, 255, 255);
cursor: pointer;
display: inline;
font-family: arial, sans-serif;
font-size: 13px;
height: 32px;
line-height: normal;
margin-bottom: -1px;
margin-left: -1px;
margin-right: -1px;
margin-top: -1px;
overflow: hidden;
overflow-x: hidden;
overflow-y: hidden;
position: relative;
scrollbar-color: rgb(26, 30, 33) rgb(3, 6, 8);
text-align: right;
white-space: nowrap;
width: 32px;
margin:10px;
padding
  
}
#account{

    margin-right:27px;
    font-size:20px;
    padding-bottom: 0px;
    margin-bottom:-2px;
}
#google_image{
    text-align:center;
    padding-top:109px;
}
#search_icon{
    padding:8px;
    
    
}
#search_box{
    border:1px solid black;
  border-radius: 10px;
width:30%;
padding-left: 5px;
padding-right:8px;
padding-top:4px;
display:flex;
font-size: 18px;
}
#inner_search_box{
    border: none;
}
#imfeelinglucky{
    font-size: 18px;
}
#search_button{
    margin-right:4px;
    background-color: rgb(248, 248, 248);

border-bottom-color: rgb(60, 60, 60);
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(60, 60, 60);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(60, 60, 60);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(60, 60, 60);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
color: rgb(85, 81, 81);
cursor: pointer;
font-family: arial, sans-serif;
font-size: 14px;
height: 36px;
line-height: 27px;
margin-bottom: 11px;
margin-left: 4px;
margin-right: 4px;
margin-top: 11px;
min-width: 54px;
padding-bottom: 0px;
padding-left: 16px;
padding-right: 16px;
padding-top: 0px;
scrollbar-color: rgb(26, 30, 33) rgb(3, 6, 8);
text-align: center;
user-select:
}
#imfl_button{
    margin-left:4px;
    background-color: rgb(248, 248, 248);

border-bottom-color: rgb(60, 60, 60);
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(60, 60, 60);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(60, 60, 60);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(60, 60, 60);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
color: rgb(85, 81, 81);
cursor: pointer;
font-family: arial, sans-serif;
font-size: 14px;
height: 36px;
line-height: 27px;
margin-bottom: 11px;
margin-left: 4px;
margin-right: 4px;
margin-top: 11px;
min-width: 54px;
padding-bottom: 0px;
padding-left: 16px;
padding-right: 16px;
padding-top: 0px;
scrollbar-color: rgb(26, 30, 33) rgb(3, 6, 8);
text-align: center;
user-select:none;
}
#health_tip{
    color: rgb(255, 255, 255);
font-family: arial, sans-serif;
font-size: 13px;
margin-bottom: 32px;
scrollbar-color: rgb(26, 30, 33) rgb(3, 6, 8);
}
#lang_info{
    color: rgb(255, 255, 255);
font-family: arial, sans-serif;
font-size: 13px;
margin-bottom: 24px;
scrollbar-color: rgb(26, 30, 33) rgb(3, 6, 8);

}
#google_offer{
    color:rgb(0, 0, 0);
}
#footer_left{
    width:50%;
    float: inline-start;
    text-align:left;
    margin-left:-39px;
    color: rgba(92, 88, 88, 0.54);
}
#footer_right{
    width:50%;
    float: inline-end;
    text-align:right;
    color: rgba(92, 88, 88, 0.54);
    
}
#setting{
    padding-right: 5px;
}
.footer_link{
    padding:2px;
    margin:2px;
  
    color: rgba(92, 88, 88, 0.54);
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 14px;
    line-height: 40px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    
    margin-top: 0px;
    padding-left: 27px;
    scrollbar-color: rgb(26, 30, 33) rgb(3, 6, 8);
    text-decoration: underline rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    visibility: visible;
    white-space: nowrap;
}
.footer{
    bottom: 0px;
    width: 100%;
    position:fixed;
    background-color: rgb(248, 248, 248);
    color: rgba(92, 88, 88, 0.54);
}
#india{
    
    padding-left:27px;
    
    bottom:0px;
    border: 1px solid black;
    color: rgba(92, 88, 88, 0.54);
font-family: arial, sans-serif;
font-size: 14px;
line-height: 40px;

padding-left: 27px;
scrollbar-color: rgb(26, 30, 33) rgb(3, 6, 8);
text-align: left;
visibility: visible;
}